In [1]:
expense = [2200,2350,2600,2130,2190]

In [2]:
#In Feb, how many dollars you spent extra compare to January?
extraFeb =expense[1]-expense[0]
print(extraFeb)

150

In [4]:
#Find out your total expense in first quarter (first three months) of the year
ExpenseFirstquarter = expense[0] + expense[1] + expense[2]
print(ExpenseFirstquarter)

7150

In [6]:
#Find out if you spent exactly 2000 dollars in any month
2000 in expense

False

In [7]:
expense.append(1980)

In [8]:
expense

[2200, 2350, 2600, 2130, 2190, 1980]

In [9]:
expense[3]=1930

In [10]:
expense

[2200, 2350, 2600, 1930, 2190, 1980]

# Superheros

In [22]:
heros=['spider man','thor','hulk','iron man','captain america']

In [23]:
#Length of the list
len(heros)

5

In [24]:
#Add 'black panther' at the end of this list
heros.append("black panther")

In [25]:
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [26]:
#You realize that you need to add 'black panther' after 'hulk',
#   so remove it from the list first and then add it after 'hulk'

In [27]:
heros.remove("black panther")

In [28]:
heros.insert(3,"black panther")

In [29]:
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [30]:
heros[1:3]=['doctor strange']

In [31]:
heros

['spider man',
 'doctor strange',
 'black panther',
 'iron man',
 'captain america']

In [32]:
#in list slicing , last index is not taken

In [33]:
#Sort the heros list in alphabetical order 
heros.sort()

In [34]:
heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']

In [35]:
#Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [36]:
max = int(input("enter max number:"))
odd = []
for i in range(1,max):
    if i%2==1
    odd.append(i)

SyntaxError: invalid syntax (<ipython-input-36-333454bdc3a8>, line 4)